html {
    height: 100%;
    width: 100%;
    /* background: red; */
  }
*{
  margin: 0;
  padding: 0;
}
#joke{
  background: rgb(164 35 35);
  color: white;
  margin: auto;
  padding: 35px;
  font-size: 25px;
}

p{
  background-color: rgba(168, 177, 185, 0.521);
  text-align: center;
  /* background-color: aqua; */
  padding: 25px;
  /* margin: 10px; */
  font-size: 40px;
}

button{
  background-color: rgba(14, 91, 207, 0.811);
  color: white;
  font-size: 20px;
  margin: 35px 30px;
  padding: 10px 20px;
}
  